body {
  font-family: "Castoro";
  letter-spacing: 0em;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.landing img {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.pt-160 {
  padding-top: 160px;
}

.text-right {
  text-align: right;
}

.container img {
  max-width: 636px;
  max-height: 848px;
  align-items: center;
}

.title {
  font-size: 128px;
  letter-spacing: 0.12em;
  font-weight: 400;
}

.description {
  background: #efefef;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.description p {
  font-size: 32px;
  left: 972px;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

.experience h3 {
  color: #ae0000;
  border-bottom: 3px solid #ae0000;
  font-size: 40px;
  margin-bottom: 16px;
}

.font-24 {
  font-size: 24px;
}

.experience span {
  display: block;
  font-style: italic;
  color: #949494;
  font-size: 20px;
}

.w-636 {
  width: 636px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-40 {
  margin-bottom: 40px;
}


.mb-160 {
  margin-bottom: 160px;
}

.footer {
  background: #000000;
  text-align: center;
  margin: 0 auto;
}

.footer img {
  margin: 64px 32px;
}
