body {
  background: #000000;
  font-family: "Bruno Ace SC";
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.self-start {
  align-self: flex-start;
}

.title-font {
  font-size: 64px;
}

.content-font {
  font-size: 24px;
}

.self-start {
  align-self: flex-start;
}

.ptb-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.w-746 {
  max-width: 746px;
}
.w-100 {
  max-width: 100px;
}

.w-128 {
  max-width: 128px;
}

.w-196 {
  max-width: 196px;
}

.w-416 {
  max-width: 416px;
}

.w-636 {
  max-width: 636px;
}

.w-526 {
  max-width: 526px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-4 {
  margin-left: 4x;
}

.ml-16 {
  margin-left: 16x;
}

.rg-24 {
  row-gap: 24px;
}

nav li {
  margin-top: 40px;
  max-width: 306px;
  color: #D1D1D1;
}

.landing {
  margin-top: 72px;
  margin-bottom: 72px;
}

.landing-text {
  flex-direction: column;
  justify-content: center;
}

.landing-text h1 {
  color: #00ffa3;
  font-size: 128px;
  letter-spacing: 0em;
  text-align: right;
}

.introduction {
  background-image: url("../images/background-img.png");
}

.about-me {
  background: #ffffff;
  color: #000000;
  align-items: center;
}

.card {
  border: 1px solid #e3e3e3;
  padding: 16px;
  max-width: 306px;
}

.card h4 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
}

.contact {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  margin-bottom: 96px;
  margin-top: 96px;
}

.align-center {
  align-items: center;
}

.contact-social img {
  object-fit: cover;
  border-radius: 40px;
  width: 162px;
  height: 162px;
}

.contact-social img:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
  border-radius: 40px;
}

.my-project {
  background: #ffffff;
  color: #000000;
}

.my-project-title {
  width: 746px;
  margin-left: auto;
}

.button {
  background: #000000;
  color: #ffffff;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border-radius: 32px;
  gap: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
